USE [master]
GO
/****** Object:  Database [Factory]    Script Date: 11/02/2018 13:34:49 ******/
CREATE DATABASE [Factory]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Factory', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Factory.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Factory_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\Factory_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Factory].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Factory]
GO
USE [Factory]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/02/2018 13:34:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](40) NOT NULL,
	[LastName] [nvarchar](40) NOT NULL,
	[City] [nvarchar](40) NULL,
	[Country] [nvarchar](40) NULL,
	[Phone] [nvarchar](20) NULL,
	[CustomerPriority] [int] NULL,
	[ProcessorNumber] [int] NULL,
 CONSTRAINT [PK_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 11/02/2018 13:34:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[UnitPrice] [decimal](12, 2) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_ORDERITEM] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderT]    Script Date: 11/02/2018 13:34:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderT](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderNumber] [nvarchar](10) NULL,
	[CustomerId] [int] NOT NULL,
	[TotalAmount] [decimal](12, 2) NULL,
 CONSTRAINT [PK_ORDER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/02/2018 13:34:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [nvarchar](50) NOT NULL,
	[SupplierId] [int] NOT NULL,
	[UnitPrice] [decimal](12, 2) NULL,
	[Package] [nvarchar](30) NULL,
	[IsDiscontinued] [bit] NOT NULL,
 CONSTRAINT [PK_PRODUCT] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Supplier]    Script Date: 11/02/2018 13:34:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplier](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CompanyName] [nvarchar](40) NOT NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactTitle] [nvarchar](40) NULL,
	[City] [nvarchar](40) NULL,
	[Country] [nvarchar](40) NULL,
	[Phone] [nvarchar](30) NULL,
	[Fax] [nvarchar](30) NULL,
 CONSTRAINT [PK_SUPPLIER] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [City], [Country], [Phone], [CustomerPriority], [ProcessorNumber]) VALUES (1, N'Maria', N'Anders', N'Berlin', N'Germany', N'030-0074321', 3, NULL)
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [City], [Country], [Phone], [CustomerPriority], [ProcessorNumber]) VALUES (2, N'Ana', N'Trujillo', N'México D.F.', N'Mexico', N'(5) 555-4729', 2, NULL)
INSERT [dbo].[Customer] ([Id], [FirstName], [LastName], [City], [Country], [Phone], [CustomerPriority], [ProcessorNumber]) VALUES (3, N'Antonio', N'Moreno', N'México D.F.', N'Mexico', N'(5) 555-3932', 2, NULL)
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[OrderItem] ON 

INSERT [dbo].[OrderItem] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity]) VALUES (1, 1, 11, CAST(14.00 AS Decimal(12, 2)), 12)
INSERT [dbo].[OrderItem] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity]) VALUES (2, 1, 42, CAST(9.80 AS Decimal(12, 2)), 10)
INSERT [dbo].[OrderItem] ([Id], [OrderId], [ProductId], [UnitPrice], [Quantity]) VALUES (3, 1, 72, CAST(34.80 AS Decimal(12, 2)), 5)
GO
SET IDENTITY_INSERT [dbo].[OrderItem] OFF
SET IDENTITY_INSERT [dbo].[OrderT] ON 

INSERT [dbo].[OrderT] ([Id], [OrderDate], [OrderNumber], [CustomerId], [TotalAmount]) VALUES (1, CAST(N'2012-07-04T00:00:00.000' AS DateTime), N'542378', 85, CAST(440.00 AS Decimal(12, 2)))
INSERT [dbo].[OrderT] ([Id], [OrderDate], [OrderNumber], [CustomerId], [TotalAmount]) VALUES (2, CAST(N'2012-07-05T00:00:00.000' AS DateTime), N'542379', 79, CAST(1863.40 AS Decimal(12, 2)))
INSERT [dbo].[OrderT] ([Id], [OrderDate], [OrderNumber], [CustomerId], [TotalAmount]) VALUES (3, CAST(N'2012-07-08T00:00:00.000' AS DateTime), N'542380', 34, CAST(1813.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[OrderT] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([Id], [ProductName], [SupplierId], [UnitPrice], [Package], [IsDiscontinued]) VALUES (1, N'Chai', 1, CAST(18.00 AS Decimal(12, 2)), N'10 boxes x 20 bags', 0)
INSERT [dbo].[Product] ([Id], [ProductName], [SupplierId], [UnitPrice], [Package], [IsDiscontinued]) VALUES (2, N'Chang', 1, CAST(19.00 AS Decimal(12, 2)), N'24 - 12 oz bottles', 0)
INSERT [dbo].[Product] ([Id], [ProductName], [SupplierId], [UnitPrice], [Package], [IsDiscontinued]) VALUES (3, N'Aniseed Syrup', 1, CAST(10.00 AS Decimal(12, 2)), N'12 - 550 ml bottles', 0)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Supplier] ON 

INSERT [dbo].[Supplier] ([Id], [CompanyName], [ContactName], [ContactTitle], [City], [Country], [Phone], [Fax]) VALUES (1, N'Exotic Liquids', N'Charlotte Cooper', NULL, N'London', N'UK', N'(171) 555-2222', NULL)
INSERT [dbo].[Supplier] ([Id], [CompanyName], [ContactName], [ContactTitle], [City], [Country], [Phone], [Fax]) VALUES (2, N'New Orleans Cajun Delights', N'Shelley Burke', NULL, N'New Orleans', N'USA', N'(100) 555-4822', NULL)
INSERT [dbo].[Supplier] ([Id], [CompanyName], [ContactName], [ContactTitle], [City], [Country], [Phone], [Fax]) VALUES (3, N'Grandma Kelly''s Homestead', N'Regina Murphy', NULL, N'Ann Arbor', N'USA', N'(313) 555-5735', N'(313) 555-3349')
SET IDENTITY_INSERT [dbo].[Supplier] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndexCustomerName]    Script Date: 11/02/2018 13:34:50 ******/
CREATE NONCLUSTERED INDEX [IndexCustomerName] ON [dbo].[Customer]
(
	[LastName] ASC,
	[FirstName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IndexOrderItemOrderId]    Script Date: 11/02/2018 13:34:50 ******/
CREATE NONCLUSTERED INDEX [IndexOrderItemOrderId] ON [dbo].[OrderItem]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IndexOrderItemProductId]    Script Date: 11/02/2018 13:34:50 ******/
CREATE NONCLUSTERED INDEX [IndexOrderItemProductId] ON [dbo].[OrderItem]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IndexOrderCustomerId]    Script Date: 11/02/2018 13:34:50 ******/
CREATE NONCLUSTERED INDEX [IndexOrderCustomerId] ON [dbo].[OrderT]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IndexOrderOrderDate]    Script Date: 11/02/2018 13:34:50 ******/
CREATE NONCLUSTERED INDEX [IndexOrderOrderDate] ON [dbo].[OrderT]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndexProductName]    Script Date: 11/02/2018 13:34:50 ******/
CREATE NONCLUSTERED INDEX [IndexProductName] ON [dbo].[Product]
(
	[ProductName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IndexProductSupplierId]    Script Date: 11/02/2018 13:34:50 ******/
CREATE NONCLUSTERED INDEX [IndexProductSupplierId] ON [dbo].[Product]
(
	[SupplierId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndexSupplierCountry]    Script Date: 11/02/2018 13:34:50 ******/
CREATE NONCLUSTERED INDEX [IndexSupplierCountry] ON [dbo].[Supplier]
(
	[Country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndexSupplierName]    Script Date: 11/02/2018 13:34:50 ******/
CREATE NONCLUSTERED INDEX [IndexSupplierName] ON [dbo].[Supplier]
(
	[CompanyName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OrderItem] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[OrderItem] ADD  DEFAULT ((1)) FOR [Quantity]
GO
ALTER TABLE [dbo].[OrderT] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[OrderT] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [UnitPrice]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((0)) FOR [IsDiscontinued]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_ORDERITE_REFERENCE_ORDER] FOREIGN KEY([OrderId])
REFERENCES [dbo].[OrderT] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_ORDERITE_REFERENCE_ORDER]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_ORDERITE_REFERENCE_PRODUCT]
GO
ALTER TABLE [dbo].[OrderT]  WITH CHECK ADD  CONSTRAINT [FK_ORDER_REFERENCE_CUSTOMER] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[OrderT] CHECK CONSTRAINT [FK_ORDER_REFERENCE_CUSTOMER]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCT_REFERENCE_SUPPLIER] FOREIGN KEY([SupplierId])
REFERENCES [dbo].[Supplier] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_PRODUCT_REFERENCE_SUPPLIER]
GO
USE [master]
GO
